body {
    font-family: 'Roboto', sans-serif;
    background: url("https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fafafa;
   

}

body,html {
    width: 100%;
    height: 100%;
}

#header-text {
    text-align: center;
    padding-top: 25%;
    
}

h1{
    font-weight: 700;
    font-size: 2.5em;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.5);
    width: 50px;
}

.navbar {
    color: #fafafa;
}
.navbar-brand {
    padding-left: 20px;
}
.navbar-nav {
    padding-left: 20px;
}

.page-footer {
    font-size: 10px;
    position: fixed;
    width: 100%;
    min-height: 50px;
    bottom: 0;
    background-color: #f8f9fa;
    color: rgba(32, 2, 2, 0.9);
    text-align: center;
    height: 80px;
    padding-top: 30px;
    
}

.mb-5 a {
      color: rgba(0,0,0,.9);
}