body {
    font-family: 'Roboto', sans-serif;
    color: rgba(255,255,255);
    background-color: rgba(0,0,0,.7);

}
.image-skills {
    background-image: url("https://images.unsplash.com/photo-1514472796143-14ece5ab7d94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.image-home {
    background-image: url("https://images.unsplash.com/photo-1559163232-cf9427758ee6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.image-contact {
    background-image: url("https://images.unsplash.com/photo-1520923642038-b4259acecbd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1306&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.image-about {
    background-image: url("https://images.unsplash.com/photo-1563790174055-56075d081c86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body,html {
    width: 100%;
    height: 100%;
}
/*----------------------------Nav Bar------------*/
.navbar {
    color: #fafafa;
    margin-bottom: 10px;
}
.navbar-brand {
    padding-left: 20px;
}
.navbar-nav {
    padding-left: 20px;
}

/*--------------------------index page Header---------*/
#header-text {
    text-align: center;
    padding-top: 25%;
    font-weight: 700;
    font-size: 50px;
    
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(87, 24, 24, 0.5);
    width: 70px;
}



/*------------------------------------------About me*/
.mb-5 a {
      color: rgba(0,0,0,.9);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 50px;
    margin-top: 0;
}

.row .section-row {
    background-color: rgba(0,0,0,.5);
        padding-top: 100px;
        float: left;
}
.section-row {
    padding-top: 100px;
   padding-bottom: 50px;
   margin: 0;
   height: 0;
   text-align: center;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
}

a[href^="mailto"] {
     color: white;
 }
.uppercase {
    text-transform: uppercase; 
     
}

element.style {
    margin-top: 30px;
}
.uppercase h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    margin-top: 30px;
    font-weight: 600;
}

.about-list{
    font-weight: 700;
    list-style: none;
}

.gallery {
    margin-top: 10px;
}

#bottom-galery {
    margin-bottom: 60px;
}

/* --------------------------------------Form Contact page  */

.signup-form{
  margin-top: 50px;
  color: rgb(247, 244, 244);
  max-width: 50%;
  
}
.form-group {
    margin-bottom: 40px;
}
.signup-form  h2 {
  color: #fafafa;
  margin-bottom: 20px;
  padding-top: 20px;
}
form.signup-form {
    margin-left: 25%;
}
.signup-form p {
    font-size: 25px;
}
.text-input{
  color: #080808;
  width: 100%;
  height: 25px;
  font-weight: 600;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  
}

.join-button{
  margin-top: 20px;
  border-radius: 50%;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #530505;
  color: #fafafa;
  display: block;
  margin-bottom: 200px;
}

.join-button:hover{
  background-color: #fafafa;
  color: #f3a5a5;
}
/* -------------------------------------------------------Cards Projects */
.projects {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
    color: #530505;
}
.card {
    position: relative;
    display: -ms-flexbox;
    
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}
.card-img-top {
    height: 334.58px;
}
element.style {
    margin-left: 50px;
}
.card.bg-transparent {
    border: none;
}
#bottom-gallery {
    padding-top: 0;
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
    margin: 0 auto;
}

.text-light {
    color: #f8f9fa!important;
    text-align: center;
}

.projects-text p{
    margin-top: 30px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 30px;
    background-color: purple;
    color: whitesmoke;
    
}
.cards-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 50px;
    
}


@media (min-width: 992px){
.card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 100px;
    margin-bottom: 0;
    margin-left: 100px;
    }
}

/*-----------------------------Footer---- Bootstrap*/

.page-footer {
    font-size: 20px;
    position: fixed;
    width: 100%;
    min-height: 50px;
    bottom: 0;
    background-color: #f8f9fa;
    color: rgba(32, 2, 2, 0.9);
    text-align: center;
    height: 100px;  
}
/* stack-overflow -------------------------- Footer*/
@media (max-width: 769px){
    #footer { 
        display : none; 
        visibility : hidden; 
    }
}